/* Main Container */
.facility-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Header Style */
.facility-header {
  text-align: left;
  margin-bottom: 20px;
}

.facility-header h1 {
  text-align: left;
  border-bottom: 2px solid #0f5286;
  font-size: 2.5rem;
  padding: 20px;
  color: #0f5286;
  font-weight: bold;
  position: relative;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Paragraph below header */
.facility-paragraph {
  font-size: 16px;
  color: black;
  line-height: 1.6;
  margin-bottom: 40px; /* Increased bottom margin for better spacing */
}

/* Individual Facility Item */
.facility-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; /* Space between each item */
  align-items: center;
  gap:30px;
}

/* Image Styling */
.facility-item .facility-image {
  flex: 1;
  padding-right: 20px; /* Space between image and text */
}

.facility-item .facility-image img {
  width: 100%;
  max-width: 500px; /* Control max width of the image */
  height: auto;
 
}

/* Text Information Styling */
.facility-item .facility-text {
  flex: 1;
}

.facility-item .facility-text h2 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.facility-item .facility-text ul {
  list-style-type: none;
  padding: 0;
}

.facility-item .facility-text li {
  font-size: 16px;
  color: black;
  margin-bottom: 8px;
  list-style-type: disc; 
}



/* Responsive Design */
@media (max-width: 768px) {
  /* Stack the items vertically on smaller screens */
  .facility-item {
    flex-direction: column;
    align-items: center;
  }

  .facility-item .facility-image {
    padding-right: 0;
    padding-bottom: 20px; /* Space between image and text when stacked */
  }

  .facility-item .facility-image img {
    max-width: 100%;
  }

  .facility-item .facility-text {
    text-align: center;
  }
}
